*{margin:0;
  padding:0;
  box-sizing: border-box;

}
html,body{
    width: 100%;
    height: 100%;
}


.main{
    height: 100%;
    width: 100%;
    position: relative;
    
}
nav{
    height: 100px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    /* border-bottom: 0.3vw solid black; */

}
.nav-part2{
    display: flex;
    align-items: center;
    gap:4vw;

}
/* inside nav only to h2 tag */
nav h2{
    font-size: 1.8vw;
    font-weight: 700 ;
}
nav h4{
    
    font-size: 1.1vw;
    
}

button{
    font-size: 1vw;
    padding:0.6vw 1.4vw;
    background-color: lightseagreen;
    border:none;
    border-radius:5px;
    font-weight: 600;
}

nav i{
    font-size: 1.6vw;
    font-weight: 800;
    display: none;
    
}

main{
    height: calc(100% - 100px);
    width:100%;
    
    display: flex;
}


/* page content */
.left{
    height:100%;
    width:50%;
    background-color: rgb(222, 204, 180);
    padding: 5vw 5vw;

}

.left h1 {
    font-size: 4.2vw;
    line-height: 4vw;

}
h1 span{
    color: lightseagreen;
}

.left p{
    font-size: 1vw;
    font-weight: 600;
    color:#666;
    width: 80%;
    margin-top: 1.5vw;
    margin-bottom: 3vw;

}

main button{
    font-size: 1.2vw;
    padding:1.1vw 2.1vw;
    background-color: lightseagreen;

}

.right{
    height:100%;
    width: 50%;
    
}
.right img{
    height:100%;
    width: 100%;

}







/* digital watch */
.dc{
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background:url("https://plus.unsplash.com/premium_photo-1675827055694-010aef2cf08f?auto=format&fit=crop&q=80&w=1912&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    overflow: hidden;
}


h2{
    text-transform:uppercase;
    letter-spacing: 4px;
    font-size: 20px;
    text-align:center;
    color: white;
}

.clock{
    display: flex;
}

.clock div{
    margin: 5px;
    position: relative;
}

.clock span{
    background: #faa70d;
    opacity: .8;
    color: white;
    display: flex;
    width: 100px;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}


.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(57, 43, 6);
    opacity: 0.8;
}

.clock #ampm{
    bottom:0;
    position: absolute;
    width: 60px;
    height:30px;
    font-size: 20px;
    background: green;
}














@media (max-width:600px){
    nav{
        background-color: lightseagreen;
        color:white;

        padding:0 5vw;
        height: 60px;


    }
    nav h2{
        font-size:5.1vw;
    }
    nav h4{
        font-size: 3vw;
        display: none;
    }

    nav button{
        display:none;
    }

    nav i{
        display:block;
        font-size:6vw;
    }

    main{
        height:calc(100% - 60px);
        flex-direction: column;
        
    }

    .left p{font-size: 3vw;}

    .left{
        width: 100%;
        height: 60;
    }
    .right{width:100%;
            height: 40%;
        }


}